body {
  background-image: url(./168069577-2f570d08-61d3-49d8-b7dd-c4b9192aaf68.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.barre {
  background-color: blue;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
#list {
  color: white;
  text-align: right;
  display: inline-block;
}
